# pickle stuff
*.pickle
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

  # Unit test / coverage reports
.pytest_cache/

# Project related files
data/assemblies/**
!data/assemblies/assemblies.md
data/datasets/**
!data/datasets/datasets.md
data/references/**
!data/references/references.md
data/simulated/**
!data/simulated/simulated.md
data/reads/**
data/real/**
dataset/**
vendor/**
!vendor/vendor.md
outputs/**
logs/**
pf/**
notebooks/*.dot
notebooks/*.png
notebooks/*.ipynb_checkpoints
*.ipynb_checkpoints
scripts/*.py
scripts/*.png
scripts/*.dot
wandb/*


.vscode/launch.json

# Hydra
*.log
