# pickle stuff                                                                                                                                                                                             
*.pickle
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

  # Unit test / coverage reports                                                                                                                                                                             
.pytest_cache/

# Project related files
data/assemblies/**
!data/assemblies/assemblies.md
data/datasets/**
!data/datasets/datasets.md
data/references/**
!data/references/references.md
data/simulated/**
!data/simulated/simulated.md
data/real/**
vendor/**
!vendor/vendor.md
outputs/**
logs/**
pf/**


.vscode/launch.json
